* {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: white;
}

.jw-preview {
  display: none !important;
}

.test {
  width: 180px;
  /* height: round(up, 80%, 50px); */
  height: 100%;
  display: block;
  gap: 5px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: rgba(32, 41, 56, 0.9);
  z-index: 1000;
  position: absolute;
}

.test:hover {
  /* opacity: 1; */
}

.test button {
  width: 100%;
  min-width: 170px;
  padding: 0;
  height: 50px;
  cursor: pointer;
  white-space: normal;
  word-wrap: break-word;
  background-color: transparent;
  color: white;
  border: 1px solid rgba(0, 0, 0, .15);
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 5px;
  align-items: center;
  text-align: start;
}

.test button span:last-child {
  justify-self: end;
  padding: 3px;
}

.test button img {
  width: 40px;
  aspect-ratio: auto;
}

.test button:hover,
.test button:focus {
  outline: none;
  background-color: rgba(255, 255, 255, .1) ;
}

.test::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.test::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 10px 10px #777;
}

/* Handle */
.test::-webkit-scrollbar-thumb {
  background: rgb(63, 63, 63);
  border-radius: 10px;
}

/* Handle on hover */
.test::-webkit-scrollbar-thumb:hover {
  background: #111;
}

.channelNumber {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 25%;
  right: calc(50% - 75px);
  background-color: rgba(1, 1, 121, 0.7);
  border-radius: 20px;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.channelNumber span {
  color: white;
  font-size: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 5px;
}

.homeScreen {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1010;
  background-color: black;
}

.homeScreen h1 {
  margin: 0;
  font-weight: 600;
}

.loader  {
  animation: rotate 1s infinite;  
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {   
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;  
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;  
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite; 
  background-color: #00a096;
  box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
  0% { 
    -webkit-transform: rotate(0deg) scale(0.8); 
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% { 
    -webkit-transform: rotate(360deg) scale(1.2); 
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% { 
    -webkit-transform: rotate(720deg) scale(0.8); 
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }
  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}


